<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>Dohone</name>
	<displayName><![CDATA[Dohone]]></displayName>
	<version><![CDATA[1.6.1]]></version>
	<description><![CDATA[Intégration du module de paiement mobile en utilisant Api dohone]]></description>
	<author><![CDATA[Nanfack kennang eric]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
